# editors specific
*.swp
*~*
*#*
.cache-main
.classpath
.project
.settings/
.*.md.html

# scala/java specific
*.class
*.log

# sbt/mvn specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
/bin/
